<form action='/output'>
	<div class='form-group'>
		<label for='sentence'>Sentence</label>
		<input id='sentence' name='sentence' class='form-control' type='text'>
	</div>
	
	<button type='submit' class='btn btn-primary'>Submit</button>
</form>